@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #f0f2f5;
    font-family: 'Poppins', sans-serif
}

a {
    text-decoration: none !important;
}

/*! [NAVBAR]*/
.all-navbar {
    margin: 0 auto;
    background-color: #c1e1ec;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar-brand {
    background-color: #0083ca;
    /*00416b*/
    text-align: center;
    min-width: 14rem;
    /*col-3, vai aumentando ate chega em 9rem*/
    color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    /*para o background verde colar na parte de baixo*/
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
}

.navbar-brand:hover {
    color: #aaa;
}
/*// [NAVBAR]*/

.search__btn {
    background-color: #f7d312;
    color: black;
}
.search__btn:hover {
    background-color: #ecc807;
    color: grey;
}

.form-control:focus {
    border: #ddd 1px solid;
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
}

/*! [TABLE]*/
#table-overflow {
    display: block;
    /*100% do container*/
    width: 100%;
    /*quando for necessario cria a rolagem do eixo x*/
    overflow-x: auto !important;
}

table a {
    text-decoration: none !important;
    color: #0083cf;
    font-weight: 700;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;
}

.content-table thead tr {
    background-color: #0083ca;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th, .content-table td {
    padding: 12px 15px;
    white-space: nowrap;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
    border-left: 2px solid #0083ca;
    border-right: 3px solid #0083ca;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 1px solid #0083ca;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #0083ca;
}
/*// [TABLE]*/

/*! btn add address*/
.add__btn {
    display: inline-block;
    /* background-color: #FFD400; */
    background-color: #f7d312;
    color: black;
    font-weight: 600;
    font-stretch: condensed;
    text-decoration: none !important;
    margin-top: 30px;
    padding: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: all ease 0.8s;
}

.add__btn:hover {
    background-color: #ecc807;
}
/*// btn add address*/

/*! [MODAL]*/
.modal1-overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 1s ease;
}

.modal1-overlay.active {
    opacity: 1;
    visibility: visible;
    /* animation: modal-up 1s; */
}

.modal1 {
    background: #F0F2f5;
    /*tamanho do modal, aumenta conforme a tela*/
    padding: 2.6rem;
    position: relative;
    z-index: 1;
    z-index: 9999;
}

.modal1-overlay.active .modal1 {
    animation: modal-up 1s;
    z-index: 9999;
}

@keyframes modal-up {
    from {
        transform: translateY(1000px);
    }
    to {
        transform: translateX(0);
    }
}

/* mobile responsivity */
@media (max-width: 600px) {
    .modal {
        background: #F0F2f5;
        /*tamanho do modal, aumenta conforme a tela*/
        padding: 2.4rem;
        position: relative;
        z-index: 1;
        /*mobile  margin untill border*/
        /* max-width: 300px; */
        width: 90%;
    }
}

/*//MODAL*/

/*! FORM */
#form {
    max-width: 620px;
}

h3 {
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    color: #00008b;
}

/* select {
    height: 40px !important;
    border: none;
    border-radius: 0.2rem;
    padding: 0.8rem;
    width: 100%;
}

select>option {
    height: 40px !important;
} */

input {
    border: gray;
    border-radius: 0.2rem;
    /* font-weight: 600 !important; */
    padding: 0.45rem;
    width: 100%;
}

.input-group {
    border-radius: 0.2rem;
    width: 100%;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    /* border: 0.5px solid blue !important; */
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
    justify-content: space-between;
}

.cep__btn {
    background-color: #87cefa;
    border: none;
}

.action button {
    margin-top: 10px;
    padding: 10px;
}

.action__cancel {
    text-decoration: none !important;
}

/*// FORM */

/*! ALERT */

.alert {
    z-index: 999;
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
}

.alert.active {
    display: block;
}

/*// ALERT */